{% extends "base.html.twig"%}

{% block title %}LeeRecipe - Home{% endblock %}

 {% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">LeeRecipe is an app that will allow you to create recipes based on ingredients that you will have created yourself. You can share your recipes with the site's community, or keep them private.</p>
            <hr class="my-4">
            <p>To get started, go to the registration page to use the app.</p>
            <a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Register</a>
        </div>
        
        <div class="recipes">
            <h2 class="mt-4">
                Community's recipes
            </h2>
            <div class="d-flex flex-wrap justify-content-between">
            {% for recipe in recipes %}
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Recipe #{{recipe.id}}</div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
                        </h4>
                        <p class="card-text">{{recipe.description|slice(0, 100) ~ '...'}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    
    
 {% endblock %}

